@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Teko&display=swap");

/* Will eventually move this into a CreateGlobalStyles Component ****NOT NECESSARY**** */
:root {
  --primaryFont: "Montserrat", sans-serif;
  --secondaryFont: "Teko", sans-serif;
  --primarySpacing: 0.089rem;
  --primaryColor: #272f40;
  --secondaryColor: #dddfe8;
  --primaryWhite: #ffffff;
  --primaryGreen: #07c400;
  --primaryRed: #db4a39;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primaryFont);
  letter-spacing: var(--primarySpacing);
  padding: 3.7vh 7.6vh 8.33vh 7.6vh;
  color: var(--secondaryColor);
  background: var(--primaryColor);
}

li {
  list-style-type: none;
}

.total-time {
  font-size: 1.5rem;
  border: 1px solid var(--secondaryColor);
  padding: 10px 15px;
  text-align: center;
  border-radius: 4px;
  align-self: center;
  justify-self: center;
  height: fit-content;
}
