form.taskform {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.taskform input {
  background: transparent;
  border: 1px solid var(--secondaryColor);
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 1.5rem;
  color: var(--secondaryColor);
}

.taskform input::placeholder {
  color: var(--secondaryColor);
  opacity: 0.7;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input.category {
  width: 20%;
  justify-self: flex-start;
}

.description-container {
  display: flex;
  width: 70%;
  position: relative;
}

.taskform .description:hover {
  cursor: text;
}

input.description {
  justify-self: end;
  border-radius: 4px 0 0 4px;
  border-right: none;
  width: 90%;
}

.add-button {
  width: 10%;
  padding: 10px;
  border-radius: 0 4px 4px 0;
  border: 1px solid var(--secondaryColor);
  background: transparent;
}

.add-button:hover {
  /* cursor: pointer; */
}

i {
  color: var(--secondaryColor);
}
