.task-list-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 13.38fr 86.62fr;
  height: 100%;
}

.task-list {
  border: 1px solid var(--secondaryColor);
  border-radius: 4px;
  overflow-y: auto;
  height: 100%;
  width: 75%;
  min-width: 420px;
  max-height: 422px;
  margin: auto;
}

.category-dropdown {
  text-align: center;
}

.active {
  color: var(--activeColor);
}

.description:hover {
  cursor: pointer;
}
